辅助工具/Order/Order/Connected Services/QueueService/QueueService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Queue.Service.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Queue.Service.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfqueue_clinictype">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="queue_clinictype" nillable="true" type="tns:queue_clinictype" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfqueue_clinictype" nillable="true" type="tns:ArrayOfqueue_clinictype" />
  <xs:complexType name="queue_clinictype">
    <xs:sequence>
      <xs:element minOccurs="0" name="clinictype_group" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="clinictype_key" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="clinictype_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="del_flag" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="queue_code" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="queue_sort" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="queue_clinictype" nillable="true" type="tns:queue_clinictype" />
  <xs:complexType name="ArrayOfqueue_config_sys">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="queue_config_sys" nillable="true" type="tns:queue_config_sys" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfqueue_config_sys" nillable="true" type="tns:ArrayOfqueue_config_sys" />
  <xs:complexType name="queue_config_sys">
    <xs:sequence>
      <xs:element minOccurs="0" name="config_desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="config_group" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="config_key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="config_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="config_value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="del_flag" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="update_date" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="queue_config_sys" nillable="true" type="tns:queue_config_sys" />
  <xs:complexType name="queue_order_info">
    <xs:sequence>
      <xs:element minOccurs="0" name="XGRQ" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="YXBZ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="csrq" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hosName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hosOrgCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userCardId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userCardType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xb" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="queue_order_info" nillable="true" type="tns:queue_order_info" />
  <xs:complexType name="queue_takeno">
    <xs:sequence>
      <xs:element minOccurs="0" name="call_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="call_share" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="call_station_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="call_time" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="clinictype_key" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="create_date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="del_flag" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="order_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="queue_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="queue_takeno_code" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="queue_takeno_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="queue_takeno_idcard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="queue_takeno_idcard_type" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="queue_type" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="sort_num" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="takeno_state" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="takeno_time" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="takeno_type" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="update_date" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="queue_takeno" nillable="true" type="tns:queue_takeno" />
  <xs:complexType name="ArrayOfqueue_takeno">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="queue_takeno" nillable="true" type="tns:queue_takeno" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfqueue_takeno" nillable="true" type="tns:ArrayOfqueue_takeno" />
  <xs:complexType name="queue_takeno_middle">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdCard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MedicalCard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="create_date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="queue_state" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="update_date" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="queue_takeno_middle" nillable="true" type="tns:queue_takeno_middle" />
</xs:schema>