Source/WpfApp/Connected Services/WcfServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MydbEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MydbEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="user">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="user" nillable="true" type="tns:user" />
  <xs:complexType name="ArrayOfuser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="user" nillable="true" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfuser" nillable="true" type="tns:ArrayOfuser" />
</xs:schema>